<!DOCTYPE html>
<html>
	<head>
		<title>Project</title>
		<link rel="icon" href="/home.png" />
		<link rel="stylesheet" href="/fontawesome/css/all.css" />
		<link rel="stylesheet" href="/mdb/mdb.min.css" />
		<link rel="stylesheet" href="/mdb/plugins/plugins-all.min.css" />
	</head>
	<body>
		<partial name="_SidenavPartial" />
		<main id="main">
			@RenderBody()
		</main>
		<script src="/mdb/mdb.min.js"></script>
		<script src="/mdb/plugins/plugins-all.min.js"></script>
	</body>
</html>