<nav class="sidenav" data-mdb-mode="side" data-mdb-hidden="false" data-mdb-content="#main">
	<div class="text-center py-4">
		<h5>Hello World</h5>
		<hr />
	</div>
	<ul class="sidenav-menu">
		<li class="sidenav-item">
			<a href="/drives" class="sidenav-link text-dark">
				<span class="fas fa-tape fa-fw me-3"></span>
				Drives
			</a>
		</li>
	</ul>
	<ul class="sidenav-menu" style="position: absolute; bottom: 0px;">
		<li class="nav-item">
			<a href="/signout" class="nav-link text-dark">
				<span class="fas fa-sign-out-alt fa-fw me-3"></span>
				Sign Out
			</a>
		</li>
	</ul>
</nav>